body {
    font-family: Arial, sans-serif;
    background-color: rgb(9, 2, 39);
    height: 200vh;
    margin: 0;
    overflow: hidden;
}

#farmacias-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: calc(100% - 180px);
    margin-top: 150px;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-scrollbar: none;
}

.farmacia {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 4, 107);
    color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    height: 250px;
    width: 400px;
    border: none;
    padding: 20px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
}

li {
    text-align: center;
    list-style: none;
    width: 120px;
    margin-left: -38px;
}

.titulo {
    display: block;
    position: fixed;
    background-color: rgb(9, 2, 39);
    border: none;
    height: 100px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    margin-top: -150px;
    margin-left: -8px;
}

.farmacia-ativa {
    background-color: #098b09;
    box-shadow: 0 0 10px #ffffff;
    animation: piscar 1.5s infinite;
}

@keyframes piscar {
    50% {
        opacity: 0.9;
        box-shadow: 0 0 30px #ffffff;
    }
}

.telefone {
    margin-top: 5px;
}

h1 {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    width: 100%;
    margin-top: 40px;
}

/* Adiciona uma media query para ajustes específicos em dispositivos móveis */
@media screen and (max-width: 500px) {
    .farmacia {
        width: 85%;
        height: 100%;
    }
    h1 {
        width: 80%;
        margin-left: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 12px;
    }

    li {
        margin-left: -45px;
        margin-top: 10px;
    }
    .titulo{
        height: 110px;
    }
}
